extends layout

block content
  h1= title

  ul
    each reader in reader_list
      li
        a(href=reader.url) #{reader.surname}
        p number:  #{reader.number}

    else
      li There are no readers.
